@import url("http://fontawesome.io/assets/font-awesome/css/font-awesome.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #616161;
  color: white;
  position: relative;
  z-index: 6; }
  .header .header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px; }
  .header .logo {
    display: inline-block;
    width: 220px;
    position: relative;
    left: 0;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .header .logo img {
      width: 100%; }
  .header a {
    color: white;
    text-decoration: none; }
  .header .header-menu_hamburger {
    display: none; }
    .header .header-menu_hamburger span {
      width: 40px;
      height: 40px;
      border: 2px solid white;
      border-radius: 1000000px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0; }
      .header .header-menu_hamburger span i {
        font-size: 16px; }
  .header .header-menu {
    display: flex;
    align-items: center; }
    .header .header-menu ul {
      display: flex; }
      .header .header-menu ul li {
        border-right: 1px solid rgba(255, 255, 255, 0.2); }
        .header .header-menu ul li a {
          font-size: 16px;
          display: flex;
          padding: 0 25px;
          flex-direction: column-reverse;
          opacity: 0.8; }
          .header .header-menu ul li a:hover {
            opacity: 1; }
          .header .header-menu ul li a small {
            font-size: 10px;
            padding-bottom: 2px; }
        .header .header-menu ul li:last-child {
          border-right: none; }
        .header .header-menu ul li.header-menu_contact {
          flex-direction: initial;
          align-items: center; }
          .header .header-menu ul li.header-menu_contact a {
            display: flex;
            flex-direction: row;
            align-items: center; }
          .header .header-menu ul li.header-menu_contact span {
            width: 25px;
            height: 25px;
            border: 2px solid white;
            border-radius: 1000000px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 7px; }
            .header .header-menu ul li.header-menu_contact span i {
              font-size: 16px; }
          .header .header-menu ul li.header-menu_contact div {
            display: flex;
            flex-direction: column-reverse; }
  @media only screen and (max-width: 960px) {
    .header .header-menu {
      display: block;
      height: 100vh;
      z-index: 2;
      position: fixed;
      top: 0;
      right: 0;
      width: 230px;
      transform: translateX(100%);
      transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .header .header-menu ul {
        height: 100vh;
        flex-direction: column;
        background: #f34938; }
        .header .header-menu ul li a {
          padding: 22px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    .header .header-menu_hamburger {
      display: block;
      left: 0px;
      transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); } }

@media only screen and (max-width: 960px) {
  body.open-sidebar .sidebar-bg {
    display: block; }
  body.open-sidebar .logo {
    position: relative;
    left: -228px; }
  body.open-sidebar .header .header-menu {
    transform: translateX(0%); }
  body.open-sidebar .header .header-menu_hamburger {
    position: relative;
    left: -228px; }
  body.open-sidebar .account {
    filter: grayscale(100%);
    transform: scale(1.2); } }

html,
body {
  font-family: 'Tahoma', sans-serif;
  color: #616161;
  background-color: #fa0e6a;
  overflow-x: hidden; }

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 960px; }

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px; }

h6 {
  font-size: 18px;
  margin: 10px; }

.sidebar-bg {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4; }

input {
  border: 2px solid #fa0e6a;
  border-radius: 5px;
  padding: 15px 30px;
  box-sizing: border-box;
  width: 100%; }

.btn {
  border: 0px;
  color: white;
  background-color: #0080C4;
  box-shadow: 0 3px #01537f;
  font-size: 15px;
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 5px;
  width: 100%; }

.none {
  display: none; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-right: 10px; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.home .home-inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .home .home-inner .logo {
    margin-bottom: 20px;
    width: 70%;
    max-width: 244px; }
    .home .home-inner .logo img {
      width: 100%; }
  .home .home-inner h2 {
    margin-bottom: 20px; }
  .home .home-inner form {
    background-color: white;
    padding: 40px;
    max-width: 400px;
    border-radius: 5px;
    width: 70%; }
    .home .home-inner form label {
      display: block;
      margin-bottom: 5px; }
    .home .home-inner form .form-item {
      margin-bottom: 20px; }
      .home .home-inner form .form-item input {
        box-sizing: border-box;
        width: 100%; }
      .home .home-inner form .form-item:last-child {
        margin-bottom: 0px; }

.account {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .account .account-inner {
    padding: 20px; }
    .account .account-inner .account-inner_list {
      display: flex; }
      .account .account-inner .account-inner_list .account-inner_list-item {
        margin: 20px;
        width: 200px;
        height: 200px;
        border-radius: 100000000px;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center; }
        .account .account-inner .account-inner_list .account-inner_list-item a {
          color: white;
          text-decoration: none;
          text-align: center;
          display: flex;
          flex-direction: column;
          font-size: 20px;
          margin-top: -20px; }
          .account .account-inner .account-inner_list .account-inner_list-item a span {
            font-size: 60px; }
          .account .account-inner .account-inner_list .account-inner_list-item a div {
            display: flex;
            flex-direction: column-reverse; }
            .account .account-inner .account-inner_list .account-inner_list-item a div small {
              font-size: 12px;
              padding-bottom: 3px; }
  @media only screen and (max-width: 800px) {
    .account {
      height: auto;
      top: auto; }
      .account .account-inner_list {
        flex-direction: column; } }

.header-menu li {
  z-index: 1000000; }

.alarm {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-top: 24vh; }
  .alarm .alarm-inner {
    width: 100%;
    max-width: 600px;
    position: relative;
    z-index: 2; }
    .alarm .alarm-inner .alarm-inner_switch {
      height: 70px;
      margin: 40px;
      border-radius: 10px;
      background-color: white;
      border: 3px solid #616161;
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .alarm .alarm-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -36px;
    left: 0;
    background-image: url(img/house.png);
    background-size: 440px;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-bottom: 36px solid #24255c; }

.camera-inner {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px; }
  .camera-inner .camera-inner_column {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center; }
    .camera-inner .camera-inner_column .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      margin: 20px; }
    .camera-inner .camera-inner_column .embed-container iframe,
    .camera-inner .camera-inner_column .embed-container object,
    .camera-inner .camera-inner_column .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .camera-inner .camera-inner_column .camera-inner_column_inner {
      width: 60%; }
      .camera-inner .camera-inner_column .camera-inner_column_inner:last-child {
        display: flex;
        flex-direction: column;
        width: 40%; }
  @media only screen and (max-width: 800px) {
    .camera-inner .camera-inner_column {
      flex-direction: column; }
      .camera-inner .camera-inner_column .camera-inner_column_inner {
        width: 100% !important; } }

.window {
  width: 100vw;
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .window .window-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%; }
    .window .window-inner .window-inner_column {
      display: flex;
      justify-content: space-around;
      width: 100%; }
      .window .window-inner .window-inner_column .window-inner_column-left, .window .window-inner .window-inner_column .window-inner_column-right {
        width: 50%; }
      .window .window-inner .window-inner_column .window-inner_column-left_inner-row,
      .window .window-inner .window-inner_column .window-inner_column-right_inner-row {
        height: 70px;
        margin: 20px;
        border-radius: 10px;
        background-color: white;
        border: 3px solid #616161;
        display: flex;
        align-items: center;
        justify-content: space-between; }
  @media only screen and (max-width: 800px) {
    .window {
      width: 100vw;
      padding-top: 60px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .window .window-inner .window-inner_column {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .window .window-inner .window-inner_column .window-inner_column-left {
          width: 100%;
          padding-bottom: 0; }
          .window .window-inner .window-inner_column .window-inner_column-left .window-inner_column-left_inner-row:last-child {
            margin-bottom: 0; }
        .window .window-inner .window-inner_column .window-inner_column-right {
          width: 100%;
          padding-top: 0; }
          .window .window-inner .window-inner_column .window-inner_column-right .window-inner_column-right_inner-row:last-child {
            margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
