.alarm {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .alarm-inner_switch {
        width: 500px;
        height: 70px;
        margin-bottom: 40px;
        border-radius: 10px;
        background-color: $color01;
        border: 3px solid $color05;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
