.window {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    .window-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        .window-inner_column {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .window-inner_column-left_inner-row,
            .window-inner_column-right_inner-row {
                width: 500px;
                height: 70px;
                margin-bottom: 40px;
                border-radius: 10px;
                background-color: $color01;
                border: 3px solid $color05;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
