
//header
.header {
    background-color: $color05;
    color: $color01;
    position: relative;
    z-index: 6;
    .header-nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .logo {
        display: inline-block;
        width: 220px;
        position: relative;
        left: 0;
        transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        img {
            width: 100%;
        }
    }
    a {
        color: $color01;
        text-decoration: none;
    }
    .header-menu_hamburger {
        display: none;
        span {
            width: 40px;
            height: 40px;
            border: 2px solid white;
            border-radius: 1000000px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            i {
                font-size: 16px;
            }
        }
    }
    .header-menu {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            li {
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                a {
                    font-size: 16px;
                    display: flex;
                    padding: 0 25px;
                    flex-direction: column-reverse;
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                    }
                    small {
                        font-size: 10px;
                        padding-bottom: 2px;
                    }
                }
                &:last-child {
                    border-right: none;

                }
                &.header-menu_contact {
                    flex-direction: initial;
                    align-items: center;
                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    span {
                        width: 25px;
                        height: 25px;
                        border: 2px solid rgba(255, 255, 255, 1);
                        border-radius: 1000000px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 7px;
                        i {
                            font-size: 16px;
                        }
                    }
                    div {
                        display: flex;
                        flex-direction: column-reverse;
                        opacity:none;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: $desktop) {
        .header-menu {
            display: block;
            height: 100vh;
            z-index: 2;
            position: fixed;
            top: 0;
            right: 0;
            width: 230px;
            transform: translateX(100%);
            transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            ul {
                height: 100vh;
                flex-direction: column;
                background: $color02;
                li {
                    a {
                        padding: 22px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                    }
                }
            }
        }
        .header-menu_hamburger {
            display: block;
            left: 0px;
            transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
}



body {
    @media only screen and (max-width: $desktop) {
        &.open-sidebar {

            .sidebar-bg {
                display: block;
            }
            .logo {
                position: relative;
                left: 0px;
            }
            .header {
                .header-menu {
                    transform: translateX(0%);
                }
                .header-menu_hamburger {
                    position: relative;
                    left: -228px;
                }
            }

                .account {
               filter: grayscale(100%);
               transform: scale(1.2);

            }
        }
    }
}
body {
    @media only screen and (max-width: $phone) {
      &.open-sidebar{
        .logo{
            width:50px;
        }
      }  
    }
}